<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
    <%- include('../partials/header') %>



    <div class="formulaire">

        <form action="/products/<%= theproduct.id %>?_method=PUT" method="POST" class="formy">

            

            <div>
            <label for="name">Name Of Product</label>
            <input type="text" name="name" id="nameproduct" value="<%= theproduct.name %>"></div>


            <div><label for="decription">description</label>
                    <textarea name="description" id="descriptionproduct" rows="4" cols="50"><%=theproduct.description%></textarea></div>
             
            <div>
                <label for="price">Price Of product</label>
                <input type="text" name="price" id="priceproduct" value="<%= theproduct.price %>">
            
            </div>
            
            <div><button type="submit">UPDATE Product</button></div>
            


        </form>

    </div>


    <%- include('../partials/footer') %>


    </div>


</body>

</html>
