<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <%- include('../partials/header') %>



        <section class="leproduit">

            <h3>un seul produit </h3>


            <%= theproduct.name %>

            <%= theproduct.description %>

            <%= theproduct.price %>

            <a href="/products/<%= theproduct.id %>/edit">Edit Product</a>
            

            <a href="/products/<%= theproduct.id %>/delete">Delete Product</a>






        </section>


        <%- include('../partials/footer') %>


    </div>


</body>

</html>